@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}

<h2>Restaurants List</h2>

<form method="get">

    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" name="searchTerm"/>
            <span class="btn-group">
                <button class="btn btn-outline-dark">Search</button>
            </span>
        </div>
    </div>

</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.Restaurants)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.Location</td>
                <td>@r.Cuisine</td>
            </tr>
        }
    </tbody>
</table>



@Model.Msg <br/>
@Model.Message
